# Hardhat files
cache/
artifacts/
typechain-types/

# TypeScript build files
dist/
*.tsbuildinfo

# Node modules
node_modules/

# Environment variables
.env

# Hardhat ignition
ignition/deployments/

# Logs
*.log